.row{
    /* position: absolute;
    top: 40rem; */
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-left: 3rem;
    margin-bottom: 1rem;
}
.posters {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
  width: 100%;
  margin-left: 2rem;
  max-width: 100vw; /* Prevent overflow */
  box-sizing: border-box;
  scroll-behavior: smooth; /* Optional */
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster {
  border-radius: 4px;
  max-height: 200px;
  flex-shrink: 0; /* Prevent shrinking */
  transition: transform 0.3s ease;
}
.small_poster {
  border-radius: 4px;
  max-height: 150px;
  flex-shrink: 0; /* Prevent shrinking */
  transition: transform 0.3s ease;
}
.tosmall_poster {
  border-radius: 4px;
  max-height: 100px;
  flex-shrink: 0; /* Prevent shrinking */
  transition: transform 0.3s ease;
}

.posters img:hover{
    cursor: pointer;
    transform:scale(1.2);
}